apiVersion: apps/v1
kind: Deployment
metadata:
  name: chuzone-frontend
  namespace: examen-26
  labels:
    app: chuzone-frontend
    version: "1.0.0"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: chuzone-frontend
  template:
    metadata:
      labels:
        app: chuzone-frontend
        version: "1.0.0"
    spec:
      containers:
      - name: frontend
        image: faresfandouli/chuzone-frontend:1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
      restartPolicy: Always
